$brand-color-dark: #75299E;
$brand-color: #B654EB;

$action-color: #879E29;
$action-color-dark: #425205;

$red-color: #D83D29;
$yellow-color: #D89E29;
$green-color: $action-color;

$gray-color: #777;
$white: #FFF;

$bg-color: #333;
$text-color: $white;
