@font-face {
    font-family: 'neris';
    src: url('./neris/Neris-Thin-webfont.woff2') format('woff2'),
        url('./neris/Neris-Thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'neris';
    src: url('./neris/Neris-ThinItalic-webfont.woff2') format('woff2'),
        url('./neris/Neris-ThinItalic-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'neris';
    src: url('./neris/Neris-Light-webfont.woff2') format('woff2'),
        url('./neris/Neris-Light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'neris';
    src: url('./neris/Neris-LightItalic-webfont.woff2') format('woff2'),
        url('./neris/Neris-LightItalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'neris';
    src: url('./neris/Neris-Black-webfont.woff2') format('woff2'),
        url('./neris/Neris-Black-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'neris';
    src: url('./neris/Neris-BlackItalic-webfont.woff2') format('woff2'),
        url('./neris/Neris-BlackItalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}